/* Body */
label{
  position: absolute;
}
.right{
  top: 0;
  left: 100%;
}
.left{
  top: 0;
  right: 100%;
}
.top{
  bottom: 100%;
  left: 0;
}
.bottom{
  top: 100%;
  left: 0;
}
body{
    background-color: #666666; 
  }
  /* Navbar */
  .navbar{
    max-height: 57px; 
  }
  
  .navbar{
    background-color: white; 
    font-size: 15px; 
  }
  .active, .dropdown-menu .dropdown-item:active a:hover{
    background-color: white !important; 
  }

  /* Body */
  .dropdownMenuButton1{
    margin-left: 121px;
    margin-top: 1px;
    width: 84px;
    height: 45px;   
    background: transparent;
    border: none;
    color: white;   
    font-size:14px;
    font-weight:700;
  }
  /* Images */
  img{
    width:100% !important;
    height:100% !important;
  }
  .active, .panel:hover{
    border-color:#0BADA6;
    border-style: solid; 
    
  }
  .vizualization{
    width:50% !important;
    height:50% !important;
  }
  
  /* Title Class  */
  .title{
    color: #0BADA6;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px; 
  }
  /* Paragraph Element */
  p{
  color: #6D8092;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px; 
  }
  /* Box Class */
  .box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white; 
  
  }
  /* Table */
  .table{
    font-size: 15px; 
    border-top-color: white !important; 
  }
  
  .navigation .navbar-brand{
      color: white; 
      margin-left: 30px; 
      padding: inherit; 
      font-weight: bold; 
      background-color: turquoise;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  
  /* Media Queries */
  @media(max-width: 600px){
  .navbar-expand-lg{
  background-color: aqua;
  }
  .navbar{
    max-height: none; 
    padding: inherit;
  }
  .navbar div{
    margin: inherit; 
    background-color: white;  
  }
  .navbar-brand{
    padding: 10px !important; 
  }
  
  button{
    margin-right: 30px; 
  }
  button:focus {
  
    outline: 1px dotted;
    outline: 5px auto -webkit-focusring-color;
    
    }
  }